@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #f9f6f0;
  font-family: Gelasio;
}

#first {
  margin: 175px 0px 20px 280px;
  font-size: 54px;
  width: 40vw;
  color: #484237;
  font-weight: 600;
  font-family: Gelasio;
}

.first p {
  margin-left: 280px;
  font-size: 18px;
  font-weight: 400;
  color: #746558;
}

.first img {
  float: right;
  object-position: left top;
  margin: 0px 130px 0px 0px;
  width: 30vw;
  border-radius: 10px;
}

.first button {
  font-size: 18px;
  font-weight: 600;
}

.first button:hover {
  opacity: 0.8;
}

.first .btn1 {
  margin: 20px 0px 0px 280px;
  padding: 14px;
  background-color: #746558;
  color: white;
  border: 1px solid #746558;
  border-radius: 10px;
  width: 17vw;
  cursor: pointer;
}

.first .btn2 {
  margin-left: 10px;
  padding: 14px;
  background-color: white;
  color: #746558;
  border: 2px solid #746558;
  border-radius: 10px;
  width: 11vw;
  cursor: pointer;
}

#firsts {
  margin: 175px 0px 20px 620px;
  font-size: 54px;
  width: 31vw;
  color: #484237;
  font-weight: 600;
  font-family: Gelasio;
}

.second ol li {
  margin-left: 660px;
  font-size: 23px;
  font-weight: 600;
  color: #484237;
  margin-top: 15px;
}

.second ol li p {
  color: #746558;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}

.second img {
  width: 20vw;
  float: left;
  margin: -160px 0px 0px 240px;
  border-radius: 10px;
  height: 75vh;
}

#firstt {
  margin: 200px 0px 50px 0px;
  font-size: 54px;
  color: #484237;
  font-weight: 600;
  font-family: Gelasio;
  text-align: center;
}

.third ul {
  display: flex;
  list-style-type: none;
  margin-left: 180px;
  gap: 110px;
}

.third ul li {
  font-size: 23px;
  font-weight: 600;
  color: #484237;
}

.third ul li p {
  font-size: 18px;
  font-weight: 400;
  color: #746558;
  width: 30vw;
  margin: 20px 0px 0px 0px;
}

.third ul li img {
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
}

#firstf {
  margin: 150px 0px 20px 232px;
  font-size: 54px;
  color: #484237;
  font-weight: 600;
  font-family: Gelasio;
}

.fourth .container {
  display: flex;
  gap: 10px;
}

.fourth .box1 {
  width: 20vw;
  margin-left: 200px;
  gap: 140px;
  background-color: #f2dbef;
  padding: 15px;
  border-radius: 10px;
}

.fourth .box1 h3 {
  color: #484237;
  font-size: 23px;
  font-weight: 600;
  background-color: #f2dbef;
}

.fourth .box1 p {
  color: #746558;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 40px 10px 0px;
  background-color: #f2dbef;
}

.fourth .box2 {
  width: 20vw;
  margin-left: 10px;
  gap: 140px;
  background-color: #f2dbef;
  padding: 15px;
  border-radius: 10px;
}

.fourth .box2 h3 {
  color: #484237;
  font-size: 23px;
  font-weight: 600;
  background-color: #f2dbef;
}

.fourth .box2 p {
  color: #746558;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 40px 10px 0px;
  background-color: #f2dbef;
}

.fourth img {
  float: right;
  width: 20vw;
  margin: -120px 70px 0px 0px;
  border-radius: 10px;
}

#firstfifth {
  margin: 250px 0px 20px 0px;
  font-size: 54px;
  color: #484237;
  font-weight: 600;
  font-family: Gelasio;
  text-align: center;
}

/* .fifth button {
  font-size: 18px;
  font-weight: 400;
  color: #746558;
  margin-left: 270px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  background-color: #f2dbef;
  margin-bottom: 10px;
}

.collapsible {
  background-color: #f2dbef;
  color: #484237;
  cursor: pointer;
  padding: 10px;
  width: 60vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.collapsible:hover {
  opacity: 0.6;
}

.content {
  padding: 0px 18px;
  display: none;
  color: #746558;
  margin: -15px 0px 50px 270px;
}

.content .paragraph {
  background-color: rgb(242, 219, 239, 0.7);
  padding: 10px 10px;
  margin: 5px 8px 50px -18px;
  height: 5vw;
  width: 60vw;
  box-shadow: 0px 8px 16px 0px rgba(116, 101, 88, 0.2);
  text-align: left;
}

.collapsible:after {
  content: "\02795"; 
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 5px;
}

.active:after {
  content: "\2796"; 
} */

.dropdown1 {
  background-color: #f9f6f0;
}

details {
  background-color: #f9f6f0;
  color: #484237;
  font-size: 18px;
  text-align: center;
}

summary {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  background-color: #f2dbef;
  width: 60vw;
  font-size: 18px;
  margin-left: 240px;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\002B";
}

details[open] summary {
  border-bottom: 1px solid #f9f6f0;
  margin-bottom: 0.5em;
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 0.5em 1em;
  background-color: #f2dbef;
  width: 59vw;
  margin-left: 250px;
  height: 4vw;
  margin-top: -8px;
}

#firstsixth {
  margin: 150px 0px 20px 280px;
  font-size: 54px;
  color: #484237;
  font-weight: 600;
  font-family: Gelasio;
}

.sixth img {
  float: right;
  margin: -120px 100px 30px 0px;
  border-radius: 10px;
}

.sixth ul li {
  margin-left: 375px;
  font-size: 23px;
  font-weight: 600;
  color: #484237;
  margin-top: 15px;
  list-style-type: none;
}

.sixth ul li p {
  color: #746558;
  font-size: 18px;
  font-weight: 400;
  width: 34vw;
  margin: -20px 0px 40px 0px;
  line-height: 30px;
}

.sixth ul li .box1 {
  margin: 0px 0px 0px -60px;
  font-size: 23px;
}

.sixth ul li .box2 {
  margin: 0px 0px 0px -60px;
  font-size: 23px;
}

.sixth ul li .box3 {
  margin: 0px 0px 0px -60px;
  font-size: 23px;
}

#firstseventh {
  margin: 150px 0px 20px 0px;
  font-size: 54px;
  color: #484237;
  font-weight: 600;
  font-family: Gelasio;
  text-align: center;
}

.seventh .container1 {
  display: flex;
  gap: 20px;
  margin: 15px 20px 10px 0px;
}

.seventh .a {
  width: 28vw;
  margin-left: 270px;
  background-color: #f2dbef;
  padding: 15px;
  border-radius: 10px;
}

.seventh .a h1 {
  text-align: center;
  color: #484237;
  font-size: 54px;
  font-weight: 600;
  margin: 10px 0px 10px 0px;
  background-color: #f2dbef;
}

.seventh .a h3 {
  text-align: center;
  color: #484237;
  font-size: 23px;
  font-weight: 600;
  margin: 10px 0px 10px 0px;
  background-color: #f2dbef;
}

.seventh .a p {
  text-align: center;
  color: #746558;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0px 10px 0px;
  background-color: #f2dbef;
}

.seventh .b {
  width: 28vw;
  margin-left: 285px;
  background-color: #f2dbef;
  padding: 15px;
  border-radius: 10px;
  margin: 0px 87px 0px 0px;
}

.seventh .b h1 {
  text-align: center;
  color: #484237;
  font-size: 54px;
  font-weight: 600;
  background-color: #f2dbef;
  margin: 10px 0px 10px 0px;
}

.seventh .b h3 {
  text-align: center;
  color: #484237;
  font-size: 23px;
  font-weight: 600;
  background-color: #f2dbef;
  margin: 10px 0px 10px 0px;
}

.seventh .b p {
  text-align: center;
  color: #746558;
  font-size: 18px;
  font-weight: 400;
  background-color: #f2dbef;
  margin: 10px 0px 10px 0px;
}

#firsteighth {
  margin: 100px 0px 20px 0px;
  font-size: 45px;
  color: #484237;
  font-weight: 600;
  font-family: Gelasio;
  text-align: center;
}

/* .dropbtn {
  background-color: #f2dbef;
  color: #746558;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  width: 66vw;
  margin: 0px 0px 20px 250px;
  text-align: left;
}

.dropbtn:hover {
  background-color: rgba(116, 101, 88, 0.7);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  width: 63vw;
  box-shadow: 0px 8px 16px 0px rgba(116, 101, 88, 0.2);
  z-index: 1;
  margin: 0px 20px 0px 290px;
  color: #746558;
}

.dropdown-content ul li {
  padding: 10px;
}

.show {
  display: block;
}

.dropbtn:after {
    content: "\02795"; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
    margin-top: 5px;
}
  
.dropbtn.active::after {
    content: '\2212'; 
} */

.sec {
  background-color: #f9f6f0;
  color: #484237;
  font-size: 18px;
  text-align: left;
}

.sec1 {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  background-color: #f2dbef;
}

.sec1 ::-webkit-details-marker {
  display: none;
}

.sec1 :after {
  content: "\002B";
}

.sec [open] .sec1 {
  border-bottom: 1px solid #f2dbef;
  margin-bottom: 0.5em;
}

.sec [open] .sec1:after {
  content: "\00D7";
}

.sec [open] ul li {
  padding: 0.5em 1em;
  width: 59vw;
  margin-left: 250px;
  height: 6vw;
  margin-top: -8px;
}

.dropdown ul {
  background-color: #f2dbef;
  width: 60vw;
  margin-left: 250px;
  margin-top: -8px;
  height: 8vw;
  padding: 10px;
}

.dropdown ul li {
  margin-left: 40px;
  margin-top: 10px;
  background-color: #f2dbef;
}

footer {
  text-align: center;
  margin: 20px 0px 10px 0px;
}

@media only screen and (320px <= width <= 480px) {
  .first img {
    margin: 60px -123px 50px 96px;
    width: 130vw;
  }

  #first {
    margin: 0px 0px 60px 35px;
    width: 50px;
  }

  .first p {
    width: 121vw;
    margin: 0px 0px 20px 40px;
    font-size: 30px;
  }

  .first .btn1 {
    margin: 30px 0px 30px 70px;
    font-size: 22px;
    width: 100vw;
  }

  .first .btn2 {
    margin: 0px 0px 30px 70px;
    font-size: 22px;
    width: 100vw;
  }

  #firsts {
    margin: 50px 0px 30px 50px;
    width: 100vw; 
  }

  .second img {
    margin: 20px 0px 20px 60px;
    width: 100vw;
  }

  .second ol {
    margin: 600px 0px 0px -590px;
    width: 330vw;
  }

  .second ol li {
    font-size: 25px;
  }

  .second ol li p {
    font-size: 20px;
  }

  #firstt {
    margin: 60px 0px 0px 60px;
    text-align: center;
    width: 111vw;
  }

  .third ul {
    margin: 20px 0px 0px 60px;
    display: grid;
  }

  .third ul li p {
    width: 100vw;
  }

  .third ul li img {
    width: 100vw;
  }

  #firstf {
    margin: 30px 0px 0px 100px;
    width: 90vw;
  }

  .fourth img {
    margin: 25px -80px 40px 0px;
    width: 100vw;
  }

  .fourth .container {
    display: grid;
  }

  .fourth .box1 {
    margin: 540px 20px 10px 80px;
    width: 92vw;
  }

  .fourth .box2 {
    margin: 20px 20px 10px 80px;
    width: 92vw;
  }

  #firstfifth {
    margin: 60px 0px 0px 80px;
    width: 90vw;
  }

  .fifth summary {
    margin: 20px 0px 0px 70px;
    width: 90vw;
  }

  .fifth details[open] div {
    margin: -5px 0px 0px 69px;
    width: 92vw;
    height: 10vh;
  }

  #firstsixth {
    margin: 30px 0px 0px 80px;
    width: 100vw;
  }

  .sixth img {
    margin: 20px -20px 50px 40px;
    width: 70vw;
  }

  .sixth ul li {
    margin: 40px 0px 0px 120px;
    width: 90vw;
  }

  .sixth ul li p {
    width: 90vw;
  }

  #firstseventh {
    margin: 50px 0px 0px 50px;
    width: 110vw;
  }

  .seventh .container1 {
    display: grid;
  }

  .seventh .a {
    margin: 20px 0px 0px 25px;
    width: 120vw;
  }

  .seventh .b {
    width: 120vw;
    margin: 0px 0px 0px 25px;
  }

  #firsteighth {
    margin: 50px 0px 35px 100px;
    width: 80vw;
  }

  .dropdown details {
    margin: 0px 0px 0px -120px;
    width: 100vw;
  }

  .dropdown summary {
    width: 80vw;
    margin: 0px 0px 0px 205px;
  }

  .dropdown ul {
    margin: -5px 0px 20px 204px;
    width: 87vw;
    height: 25vh;
  }

  .dropdown ul li {
    margin: 10px 0px 0px 20px;
    width: 83vw;
  }
  
  footer {
    margin: 50px 0px 0px 140px;
  }
}
